#main {
  background-color: #fff;
}

/* results */

#facets, #results {
  display: inline-table;
}

#facets {
  width: 175px;
  padding: 15px;
  font-size: 12px;
}

#results {
  width: 885px;
}

td,th {
  background-color: #fff;
  border: 1px solid #000;
  padding: 3px;
  height: 40px;
  font-size: 12px;
}

.textRight {
  text-align: right;
}



.notOfferedTD {
  text-align: center;
}

#fileChange li {
  display: inline;
  padding-right: 40px;
}

#fileChange li:hover {
  cursor: pointer;
}

.deptAbbrev {
  width: 75px;
}
.courseNum {
  width: 45px;
}
.courseTitle {
  width: 300px;
}
.instanceInstructor{
  width: 110px;
}
.instanceTime{
  width: 65px;
}
.instancePlace{
  width: 75px
}
.courseUnits{
  width: 20px;
}
.instanceCCN{
  width: 45px;
}
.badges{
  width: 70px;
}
.save{
  width: 30px;
}

th, .courseUnits, .instanceCCN, .badges, .save {
  text-align: center;  
}



.Lecture td {
  background-color: rgba(194,185,167,0.5);
}

.Discussion td {
  background-color: rgba(194,185,167,0.25);
}

.courseHeaderRow {
  border-top: 5px solid black;
}

.courseHeaderRow td {
  background-color: rgba(194,185,167,0.75);
}

.rowSeats, .rowSeats td {
  padding: 0;
  margin: 0;
  height: 15px;
}
