/* results */

#facets, #results {
  display: inline;
}

#facets {
  width: 400px;
}

#results {
  width: 500px;
}

td,th {
  background-color: #fff;
  border: 1px solid #000;
  padding: 3px;
  height: 40px;
}





.notOfferedTD {
  text-align: center;
}

#fileChange li {
  display: inline;
  padding-right: 40px;
}

#fileChange li:hover {
  cursor: pointer;
}

.deptAbbrev {
  width: 75px;
}
.courseNum {
  width: 50px;
}
.courseTitle {
  width: 300px;
}
.instanceInstructor{
  width: 110px;
}
.instanceTime{
  width: 65px;
}
.instancePlace{
  width: 75px
}
.courseUnits{
  width: 20px;
}
.instanceCCN{
  width: 45px;
}
.badges{
  width: 70px;
}
.save{
  width: 30px;
}

th, .courseUnits, .instanceCCN, .badges, .save {
  text-align: center;  
}




