@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/****
Berkeley Blue RGB 000 050 098 (HEX 003A70)
California Gold RBG 253 181 021 (HEX FDB515)

alternate blue & gold
Founder’s Rock RBG 045 099 127 (HEX 2D637F) 
Medalist RGB 224 158 025 (HEX E09E19) No Small Type

secondary palette (neutrals)
Bay Fog RGB 194 185 167 (HEX C2B9A7)
Wellman Tile RGB 217 102 031 (HEX D9661F) 
Sather Gate RGB 185 211 182 (HEX 89D3B6) No Small Type

alternate secondary palette (darks)
Pacific RGB 083 098 111 (HEX 53626F) 
South Hall RGB 108 051 002 (HEX 6C3302) 
Stone Pine RGB 088 079 041 (HEX 584F29) All Uses

***/

body {
  background-color: #53626F;
  font-family: "Open Sans", sans-serif;
  min-width: 1280px;
  color: #003262;
}

img.bulletin {
  width: 100%;
}

#main {  
  margin: 0 83px;
}

#header {
  background-color: #2D637F;
  color: #fff;
  padding: 15px 25px;
}


/* search form */
#search {
  padding: 25px;
  background-color: #fff;
}

#search form, #search table, .searchBtn {
  width: 600px;
}

#basic, #advanced {
  padding-bottom: 50px;
}

.formGroup {
  margin-bottom: 25px;
}

.searchBtn {
  margin-top: 25px;
}


/* search form table spacing */
td {
  vertical-align: middle;
}

td.formInput {
  padding: 2px;
}

label {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

select {
  width: 100%

}
input[type="text"] {
  width: 99%;
}


/* department autocomplete */
#inputDepartment + span.ui-helper-hidden-accessible {
  background-color: black;
}


/* advanced search */
#toggleAdvSearch {
  text-decoration: underline;
}

#toggleAdvSearch:hover {
  cursor: pointer;
}


/* units */
select.units {
  width: 50px;
}


/* course levels */
ul#courseLevel {
  height: 4em;
}


/* breadth requirements */
ul#lsBreadth, ul#courseLevel {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}




/* test */
ul.ui-autocomplete {
  background: white;
  border: 1px solid black;
  width: 350px;
}

/* time and day */
#time td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
}

td#emptyTD { 
  width: 125px;
}

